<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">First name</label>
    <input type="text" class="form-control" [(ngModel)]="student.firstname" id="formGroupExampleInput" placeholder="Enter your first name">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Last name</label>
    <input type="text" class="form-control" [(ngModel)]="student.lastname"  id="formGroupExampleInput2" placeholder="Enter your last name">
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput3" class="form-label">Contact number</label>
    <input type="text" class="form-control" [(ngModel)]="student.contactnumber" id="formGroupExampleInput3" placeholder="Enter your Contact number">
  </div>


<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  
    <div class="col-12">
      <button type="submit" (click)="createnewstudent()" class="btn btn-primary">Sign in</button>
    </div>
  </form>