/* .mb-md-0{

  position: fixed;
    left: 500px;
    align-content: center;
    color: black;
    font-size: 18px;
  


    

} */
.container{

    position:static  
    align-content: center;
    color: black;
    font-size: 18px;
}





